.carousel-story .carousel-container {
  padding: 20px 0;
}

.carousel-story.full-width .slide {
  width: 100%;
}

.carousel-story .slide img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.carousel-story.thumbnails .slide {
  scroll-snap-align: start;
}

/* .slide:first-child {
  margin-left: 10vw;
}

.slide:last-child {
  margin-right: 10vw;
} */

@media (max-width: 640px) {
  .carousel-story .slide {
    width: calc(50% - ((2 * 5vw) / 2));
  }

  .carousel-story .slide:first-child {
    margin-left: 5vw;
  }

  .carousel-story .slide:last-child {
    margin-right: 5vw;
  }
}

@media (max-width: 320px) {
  .carousel-story .slide {
    width: 100%;
  }

  .carousel-story .slide:first-child {
    margin-left: 20px;
  }

  .carousel-story .slide:last-child {
    margin-right: 20px;
  }
}
