body {
  margin: 0;
}

.carousel-container {
  display: flex;
  height: 50vh;
  align-items: center;
  align-content: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
  max-width: 100%;
  padding: 100px;
}

.carousel-container:after {
  content: '';
  flex: 0 0 1px;
  height: 100%;
}

.slide {
  width: 33.33%;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: center;
  background-color: #c9edf2;
  background-clip: content-box;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  padding: 0 15px;
}

.slide:last-child {
  margin-right: 100px;
}

@media (max-width: 640px) {
  .carousel-container {
    padding: 50px;
  }

  .slide {
    width: 50%;
  }

  .slide:last-child {
    margin-right: 50px;
  }
}

@media (max-width: 320px) {
  .carousel-container {
    padding: 20px;
  }

  .slide {
    width: 100%;
  }
}

.carousel-indicator {
  display: flex;
  justify-content: center;
}

.carousel-indicator__dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.carousel-indicator__dot + .carousel-indicator__dot {
  margin-left: 10px;
}

.carousel-indicator__dot.active {
  background-color: lightgreen;
}
