.carousel-story .carousel-container {
  padding: 20px 0;
}

.carousel-story.full-width .slide {
  width: 100%;
}

.carousel-story .slide img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.carousel-story .slide {
  scroll-snap-align: center;
}

/* .slide:first-child {
  margin-left: 10vw;
}

.slide:last-child {
  margin-right: 10vw;
} */

@media (max-width: 640px) {
  .carousel-story .slide {
    width: calc(50% - ((2 * 5vw) / 2));
  }

  .carousel-story .slide:first-child {
    margin-left: 5vw;
  }

  .carousel-story .slide:last-child {
    margin-right: 5vw;
  }
}

@media (max-width: 320px) {
  .carousel-story .slide {
    width: 100%;
  }

  .carousel-story .slide:first-child {
    margin-left: 20px;
  }

  .carousel-story .slide:last-child {
    margin-right: 20px;
  }
}

/* @media (min-width: 900px) {
  .carousel-story .carousel-indicator__dot:nth-child(n+3) {
    display: none;
  }
} */

.carousel-story.with-padding .carousel-container {
  padding-left: 300px;
  padding-right: 300px;
}

.carousel-story.with-padding-child .carousel-container:before {
  content: '';
  padding-left: 300px;
}

.carousel-story.with-align-start .carousel-container .slide {
  scroll-snap-align: start;
}

.carousel-story.with-align-end .carousel-container .slide {
  scroll-snap-align: end;
}
