button {
  background: none;
  border: 0;
  padding: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

.carousel {
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
  align-content: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
  max-width: 100%;
}

.carousel-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: center;
  background-color: #c9edf2;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  overflow: hidden;
}

.slide:hover {
  box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
}

.carousel-indicator {
  display: flex;
  justify-content: center;
}

.carousel-indicator__dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.carousel-indicator__dot + .carousel-indicator__dot {
  margin-left: 10px;
}

.carousel-indicator__dot.active {
  background-color: lightgreen;
}

.carousel-nav button {
  display: block;
  font-style: normal;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transition: background-color 0.1s linear, color 0.1s linear,
    opacity 0.1s linear;
  width: 52px;
  height: 52px;
  border-radius: 52px;
  top: 49%;
  margin-top: -21px;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.5s ease-in,
    opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 0;
}

.carousel-nav button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel:hover .carousel-nav button:hover:not([disabled]),
.carousel:hover .carousel-nav button:not([disabled]) {
  transform: scale(1);
  opacity: 1;
}

.carousel-nav__btn--previous {
  left: 18px;
}

.carousel-nav__btn--previous svg {
  transform: rotateZ(90deg);
}

.carousel-nav__btn--next {
  right: 18px;
}

.carousel-nav__btn--next svg {
  transform: rotateZ(-90deg);
}
